*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.game{
    min-height: 100vh;
    background-color: wheat;
}
.name{
    width: 100%;
    height: 80px;
    color: white;
    background-color: rgb(246, 78, 17);
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
}
.container{
    max-width: 900px;
    margin: auto;
}
.message{
    margin: 15px 0;
    font-size:20px;
    background-color: rgb(240, 132, 37);
    color: black;
    text-align: center;
    padding: 15px;
}
.message span::before{
    content: "[";
}
.message span::after{
    content: "]";
}
.start{
    background-color: rgb(88, 19, 19);
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}
.the-word{
    font-size: 40px;
    color: rgb(246, 78, 17);
    font-weight: bold;
    text-align: center;
    padding: 15px;
}
.input{
    display: block;
    width: 100%;
    height: 50px;
    text-transform: capitalize;
    border-radius: 5px;
    border-color: rgb(88, 19, 19);
    text-align: center;
    font-size: 20px;
}
.upcoming-words{
    margin:15px 0 ;
    padding: 15px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-color: white;
}
.upcoming-words div{
    background-color: rgb(246, 78, 17);
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}
.control{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}
.finish{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
}
.finish .good{
color: rgb(246, 78, 17);
}
.finish .bad{
color: red;
}